.catalog
	.catalog__settings
		button.catalog__view-btn.catalog__view-btn--active(
			aria-label="Показать в виде списка"
		)
			+svg("list")(class="catalog__view-icon" width="30" height="16")
		button.catalog__view-btn(
			aria-label="Показать в виде карточек"
		)
			+svg("cards")(class="catalog__view-icon" width="23" height="23")
		form.catalog__form(
			action="?"
			method="post"
		)
			label.catalog__sort
				select.catalog__sort-wrap(
					name="sorting"
				)
					option.catalog__sort(
						selected=true
						value="popularity"
					)
						| Популяность
					option.catalog__sort(
						value="posted"
					)
						| Дата
		p.catalog__total
			| Показано 1-7 из 298 предложений
	ul.catalog__list
		- var catalog_items_count = 7
		- while(catalog_items_count--) {
		li.catalog__item
			- var catalog_items_options = {}
			- catalog_items_options.title = 'Менеджер по контекстной рекламе'
			- catalog_items_options.description = '<p>Нам нужен опытный менеджер, который не боится брать на себя ответственность. Человек, готовый учиться, развиваться и расти профессионально. Если это про тебя, отправляй резюме нам!</p>'
			- catalog_items_options.link = {}
			- catalog_items_options.link.href = 'https://blondinka.ru/'
			- catalog_items_options.link.name = 'Blondinka.ru'
			- catalog_items_options.city = 'Москва'
			- catalog_items_options.schedule = 'Полная занятость'
			- catalog_items_options.tags = ['Маркетинг', 'Реклама']
			- catalog_items_options.date = {}
			- catalog_items_options.date.attribute = '2019-01-31'
			- catalog_items_options.date.value = '31 января, 2019'

			if(catalog_items_count % 2 !== 0)
				- catalog_items_options.description = '<p>Нам нужен опытный менеджер, который не боится брать на себя ответственность. Человек, готовый учиться, развиваться и расти профессионально.</p>'

			+job(catalog_items_options)
		- }
	+pagination({1: 'первую', 2: 'вторую', 3: 'третью', 4: 'четвёртую'}, 2)
