.filters
	p.filters__toggle
		| Фильтры
		+svg("arrow-down")(class="filters__toggle-icon" width="15" height="15")
	form.filters__form#filters(
		action="?"
		method="post"
	)
		label.filters__label.filters__label--arrow.filters__label--underline
			select.filters__select(
				name="category"
			)
				option.filters__option(
					selected=true
					disabled=true
					value=""
				)
					| Категории
				option.filters__option(
					value="1"
				)
					| Категория 1
				option.filters__option(
					value="2"
				)
					| Категория 2
		label.filters__label.filters__label--arrow.filters__label--underline
			select.filters__select(
				name="location"
			)
				option.filters__option(
					selected=true
					disabled=true
					value=""
				)
					| Локация
				option.filters__option(
					value="1"
				)
					| Локация 1
				option.filters__option(
					value="2"
				)
					| Локация 2
		fieldset.filters__group
			legend.filters__headline
				| Тип работы
			label.filters__label
				input.filters__radio(
					name="job_type"
					type="radio"
					value="full_time"
					checked=false
				)
				span.filters__text
					| На постоянной основе
			label.filters__label
				input.filters__radio(
					name="job_type"
					type="radio"
					value="underemployment"
					checked=false
				)
				span.filters__text
					| Неполная занятость
			label.filters__label
				input.filters__radio(
					name="job_type"
					type="radio"
					value="freelance"
					checked=false
				)
				span.filters__text
					| Внештатно
			label.filters__label
				input.filters__radio(
					name="job_type"
					type="radio"
					value="temporarily"
					checked=false
				)
				span.filters__text
					| Временно
		fieldset.filters__group
			legend.filters__headline
				| Опыт
			label.filters__label
				input.filters__checkbox(
					name="experience"
					type="checkbox"
					value="without_experience"
					checked=false
				)
				span.filters__text
					| Без опыта
			label.filters__label
				input.filters__checkbox(
					name="experience"
					type="checkbox"
					value="less_1_year"
					checked=false
				)
				span.filters__text
					| Менее 1 года
			label.filters__label
				input.filters__checkbox(
					name="experience"
					type="checkbox"
					value="2_years"
					checked=false
				)
				span.filters__text
					| 2 года
			label.filters__label
				input.filters__checkbox(
					name="experience"
					type="checkbox"
					value="3_years"
					checked=false
				)
				span.filters__text
					| 3 года
			label.filters__label
				input.filters__checkbox(
					name="experience"
					type="checkbox"
					value="3_years"
					checked=false
				)
				span.filters__text
					| 4 года
			label.filters__label
				input.filters__checkbox(
					name="experience"
					type="checkbox"
					value="4_years"
					checked=false
				)
				span.filters__text
					| 5 лет
			label.filters__label
				input.filters__checkbox(
					name="experience"
					type="checkbox"
					value="more_5_years"
					checked=false
				)
				span.filters__text
					| Более 5 лет
		fieldset.filters__group
			legend.filters__headline
				| Диапазон зарплаты
			.filters__slider
			label.filters__label
				input.filters__amount(
					name="salary_range"
					type="text"
					readonly=true
				)
				span.visually-hidden
					| Диапазон зарплаты
		fieldset.filters__group
			legend.filters__headline
				| Дата размещения
			label.filters__label
				input.filters__checkbox(
					name="posted"
					type="checkbox"
					value="1"
					checked=false
				)
				span.filters__text
					| Час назад
			label.filters__label
				input.filters__checkbox(
					name="posted"
					type="checkbox"
					value="24"
					checked=false
				)
				span.filters__text
					| 24 часа назад
			label.filters__label
				input.filters__checkbox(
					name="posted"
					type="checkbox"
					value="168"
					checked=false
				)
				span.filters__text
					| 7 дней назад
			label.filters__label
				input.filters__checkbox(
					name="posted"
					type="checkbox"
					value="96"
					checked=false
				)
				span.filters__text
					| 4 дня назад
			label.filters__label
				input.filters__checkbox(
					name="posted"
					type="checkbox"
					value="720"
					checked=false
				)
				span.filters__text
					| 30 дней назад
		fieldset.filters__group
			legend.filters__headline
				| Пол
			label.filters__label
				input.filters__checkbox(
					name="gender"
					type="checkbox"
					value="male"
					checked=false
				)
				span.filters__text
					| Мужской
			label.filters__label
				input.filters__checkbox(
					name="gender"
					type="checkbox"
					value="female"
					checked=false
				)
				span.filters__text
					| Женский
		fieldset.filters__group
			legend.filters__headline
				| Квалификация
			label.filters__label
				input.filters__checkbox(
					name="qualification"
					type="checkbox"
					value="junior"
					checked=false
				)
				span.filters__text
					| Низкий уровень
			label.filters__label
				input.filters__checkbox(
					name="qualification"
					type="checkbox"
					value="middle"
					checked=false
				)
				span.filters__text
					| Средний уровень
			label.filters__label
				input.filters__checkbox(
					name="qualification"
					type="checkbox"
					value="senior"
					checked=false
				)
				span.filters__text
					| Мастер
