form.search(
    action="?"
    method="post"
)
    input.search__field#search_input(
        name="search"
        type="search"
        placeholder="Введите слова для поиска"
        aria-label="Введите слова для поиска"
    )
    button.search__button(
        type="submit"
        aria-label="Нажмите для поиска"
    )
