main.main
	include intro
	.main__wrapper
		.main__menu.basic-hidden
			include top-menu
			.main__badge
				a.main__join(
					href="#"
				)
					| Присоединиться к нашей команде
				a.main__more(
					href="#"
				)
					| Все вакансии
					+svg("arrow-right")(class="main__more-icon" width="24" height="16" aria-hidden="true")
		include gallery
		section.main__content
			h2.main__title
				| Сотрудники
			include staff-slider
		.main-slider
			.main-slider__container
				include video-slider
				include blockquote-slider
			.main-slider__controls
				button.main-slider__arrow.main-slider__arrow--left(
					type="button"
					aria-label="Предыдущий слайд"
				)
					+svg("arrow-prev")(class="main-slider__arrow-icon" width="12" height="21")
				p.main-slider__count
				button.main-slider__arrow.main-slider__arrow--right(
					type="button"
					aria-label="Следующий слайд"
				)
					+svg("arrow-next")(class="main-slider__arrow-icon" width="12" height="21")
		include media
