figure.media
	img.media__img.lazyload(
		src=placeholder
		srcset=placeholder + ' 320w'
		data-src="https://via.placeholder.com/288x198"
		data-srcset="https://via.placeholder.com/288x198 288w, https://via.placeholder.com/361x247 361w"
		sizes="(max-width: 992px) 50vw, 100vw"
		width="288"
		height="198"
		alt="foto"
	)
	figcaption.media__caption
		h2.media__headline
			| Больше, чем оператор
		p
			| Мы выходим за рамки привычного телекома и стараемся улучшить все сферы жизни клиента.
			| Например, мы запустили #Yotafutureproof — серию экспериментов, в которых мы открыто тестируем
			| инновационные технологии в реальных условиях и оцениваем их эффективность для бизнеса.
			| Благодаря этому сервису клиент может побывать в нашем виртуальном офисе, заказать 3D печать для модема
			| из частиц настоящего метеорита или получить сим-карту, доставленную квадрокоптером.
