//-
	@example

	```
		+gallery({
			images: [
				{
					src: '',
					srcset: [
						'',
						''
					],
					width: '',
					height: '',
					alt: ''
				},
				{
					src: '',
					srcset: [
						'',
						''
					],
					width: '',
					height: '',
					alt: ''
				}
			],
			headline: {
				tag: '',
				text: ''
			},
			content: '<p></p>'
		})
	```

mixin gallery(options)
	.gallery.owl-carousel&attributes(attributes)
		each image in options.images
			- var alt = typeof image.alt !== 'undefined' ? image.alt : null
			- var width = typeof image.width !== 'undefined' ? image.width : null
			- var height = typeof image.height !== 'undefined' ? image.height : null
			- var placeholder = 'images/sprites/svg/placeholder.svg'

			img.gallery__item.lazyload(
				src=placeholder
				srcset=placeholder + ' 320w'
				data-src=image.src
				data-srcset=image.src + ' 320w, ' + image.srcset[0] + ' 576w, ' + image.srcset[1] + ' 768w'
				sizes="(max-width: 576px) 33vw, (max-width: 768px) 50vw, 100vw"
				width=width
				height=height
				alt=alt
			)
	.gallery__controls
		button.gallery__arrow.gallery__arrow--left(
			type="button"
			aria-label="Предыдущий слайд"
		)
			+svg("arrow-prev")(class="gallery__arrow-icon" width="12" height="21")
		p.gallery__count
		button.gallery__arrow.gallery__arrow--right(
			type="button"
			aria-label="Следующий слайд"
		)
			+svg("arrow-next")(class="gallery__arrow-icon" width="12" height="21")

	if options.headline.tag.toString().substring(0, 2).match(/h\d/i)
		- var contentTag = 'section'
	else
		- var contentTag = 'div'

	#{contentTag}.gallery__content
		.gallery__content-wrap
			#{options.headline.tag}.gallery__headline
				| !{options.headline.text}
			| !{options.content}
