//-
	@example

	```
	+job({
		titleTag: '',
		titleText: '',
		description: '',
		link: {
			href: '',
			name: ''
		},
		city: '',
		schedule: '',
		tags: [
			''
		],
		date: {
			attribute: '',
			value: ''
		}
	})
	```

mixin jobTitle(options)
	#{options.titleTag}&attributes(attributes)
		| #{options.titleText}

mixin jobTags(options)
	.job__tags&attributes(attributes)
		each tag, index in options.tags
			- var last_tag = options.tags.length - 1

			if(last_tag !== index)
				span.job__tag
					| #{tag},
					|
			else
				span.job__tag
					| #{tag}

mixin job(options)
	.job&attributes(attributes)
		.job__content
			+jobTitle(options)(class="job__title")
			.job__description
				| !{options.description}
			ul.job__info
				li.job__info-item
					a.job__site(
						href=options.link.href
						rel="nofollow noopener noreferrer"
						target="_blank"
					)
						| #{options.link.name}
				li.job__info-item
					p.job__city
						| #{options.city}
				li.job__info-item
					p.job__schedule
						| #{options.schedule}
				li.job__info-item
					+jobTags(options)(class="job__tags--desktop")
		.job__controls
			button.job__button(
				type="button"
			)
				| Откликнуться
			.job__meta
				+jobTags(options)
				p.job__date
					| Размещено:
					time(
						datetime=options.date.attribute
					)
					| #{options.date.value}
