//-
    @param {Object[]} items - The social network list.
    @param {string} items[].modifier - The modifier to display a icon.
    @param {string} items[].href - The social network link.
    @param {string} items[].name - The social network name.
    @param {string} [items[].title='Подпишитесь на нас в ' + item.name] - The title of link on social network.

    @example

    ```
    +socials([
        {
            modifier: 'fb',
            href: '//fb.com/our-awesome-group',
            name: 'Facebook',
            title: 'Follow us on social media'
        }
    ])
    ```
mixin socials(items)
    div.socials&attributes(attributes)
        ul.socials__list
            each item in items
                li.socials__item
                    a.socials__link(
                        class=(item.modifier) ? 'socials__link--' + item.modifier: null
                        href=item.href
                        aria-label=(item.title) ? item.title : 'Подпишитесь на нас в ' + item.name
                        target="_blank"
                        rel="nofollow noopener noreferrer"
                    )
