//-
	@example
	```
		+videoSlider([
			{
				id: '',
				headline: {
					tag: '',
					text: ''
				},
				description: ''
			}
		])
	```

mixin videoSlider(options)
	- var placeholder = 'images/placeholder.gif'

	.video-slider&attributes(attributes)
		.video-slider__list.owl-carousel
			each slide in options
				figure.video-slider__item
					img.video-slider__poster.lazyload(
						src=placeholder
						data-src='https://img.youtube.com/vi/' + slide.id + '/hqdefault.jpg'
						alt="Видео: " + slide.description
						data-hide=true
					)
					iframe.video-slider__video.lazyload(
						data-src='https://www.youtube.com/embed/' + slide.id + '?rel=0&amp;controls=0'
						width="100%"
						height="auto"
					)
					button.video-slider__play-button(
						type="button"
						aria-label="Воспроизвести"
					)
						+svg("play")(
							class="video-slider__play-icon"
							width="46"
							height="46"
							aria-hidden="true"
						)
					figcaption.video-slider__caption
						#{slide.headline.tag}.video-slider__headline
							| !{slide.headline.text}
						p.video-slider__description
							| !{slide.description}
