main.main
	include intro
	.main__wrapper
		.video
			.video__wrapper
				img.video__poster.lazyload(
					src=placeholder
					data-src="https://img.youtube.com/vi/pygGug3TCaI/hqdefault.jpg"
					data-srcset="https://img.youtube.com/vi/pygGug3TCaI/hqdefault.jpg 320w,"
						+ "https://img.youtube.com/vi/pygGug3TCaI/maxresdefault.jpg 992w"
					alt="Видео"
					width="320"
					height="205"
					data-hide=true
				)
				iframe.video__file.lazyload(
					data-src='https://www.youtube.com/embed/pygGug3TCaI'
						+ '?rel=0&controls=1&modestbranding=1&showinfo=0&enablejsapi=1'
					width="100%"
					height="auto"
					allow="autoplay; encrypted-media"
					allowfullscreen
				)
			.video__content(
				data-hide=true
			)
				p.video__headline
					| Лена
					span.video__position
						| Телекоммуникации
				p.video__description
					| Лена делает все, чтобы собственная розница и команда были такими, какими должны #[br] быть
				button.video__button(
					type="button"
				)
					+svg("play")(class="video__button-icon" width="42" height="42")
					span.video__button-text
						| Смотреть ролик о работе Лены
		section.main__content.main__content--narrow
			.main__content-wrap.main__content-wrap--narrow
				p.main__caption
					| История Лены
				h2.main__headline.main__headline--small
					| Менеджер по развитию #[br] собственной розницы
				p
					| Основной опыт Лена получила в сфере телекома. Решив сменить место
					| работы, её подруга-HR сказала, что знает подходящую по&nbsp;духу компанию #[br]
					| и&nbsp;предложила пройти собеседование. Лена согласилась, и&nbsp;после общения #[br]
					| с будущими коллегами, поняла, что Yota - классная компания, с которой ей
					| точно по пути. Теперь она делает все, чтобы собственная розница и&nbsp;команда
					| были такими, какими должны быть, и&nbsp;клиенты могли познакомиться
					| с&nbsp;продукцией и&nbsp;получить ответ на любой вопрос.
		.main__content.main__content--gray
			.main-slider
				.main-slider__container
					include video-slider
					include blockquote-slider
				.main-slider__controls
					button.main-slider__arrow.main-slider__arrow--left(
						type="button"
						aria-label="Предыдущий слайд"
					)
						+svg("arrow-prev")(class="main-slider__arrow-icon" width="12" height="21")
					p.main-slider__count
					button.main-slider__arrow.main-slider__arrow--right(
						type="button"
						aria-label="Следующий слайд"
					)
						+svg("arrow-next")(class="main-slider__arrow-icon" width="12" height="21")
			include media
		h2.main__headline.main__headline--center
			| Другие люди компании
		include staff-slider
