form.search(
	action="?"
	method="post"
)
	label.search__label(
		for="search_input"
	)
		input.search__field#search_input(
			name="search"
			type="search"
			size="30"
		)
		span.search__title
			| Введите слова для поиска
	button.search__button(
		type="submit"
		aria-label="Нажмите для поиска"
	)
		+svg("search")(class="search__button-icon" width="24" height="22")
